tmp/

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
platform-api/src/main/jib/*
platform-api/src/main/resources/*roles.properties
platform-api/src/main/resources/jib
DONOTCOMMIT*

python-runner/filters/
python-runner/transforms/

# python
__pycache__
.venv
/k8s-manifests/minikube-with-postgres-image-test.yaml
